.wrapper-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: var(--transition);
  background-color: #fff;
  z-index: 10;
}

.show-sidebar {
  left: 0;
  display: block;
  transform: translateX(0%);
}

.wrapper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8rem;
  max-width: 1170px;
  margin: 0 auto;
  img {
    max-width: 175px;
  }
}

.close-btn {
  font-size: 3.2rem;
  margin: 0 1.4rem;
  color: var(--cart-quantity-color);
  &:hover {
    cursor: pointer;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0;
  .link-url {
    text-decoration: none;
    color: var(--text-color);
    text-transform: capitalize;
    padding: 1.6rem 0;
    &:hover {
      padding-left: 1.4rem;
      background: var(--clr-grey-10);
      color: var(--clr-grey-2);
      transition: var(--transition);
    }
    li {
      list-style: none;
      font-size: 1.8rem;
      margin: 0 3rem;
    }
  }
}

.cart-wrapper {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .auth-btn {
    border: none;
    background-color: transparent;
    font-size: 2.4rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    transform: translateY(-3px);
    &:hover {
      cursor: pointer;
    }
    span {
      margin-right: 1.2rem;
    }
  }
  span {
    margin-right: 1.2rem;
  }
  &:hover {
    cursor: pointer;
  }
  img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
  .wrapper-user {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 62em) {
  .wrapper-sidebar {
    display: none;
  }
}
